.dropdown-container {
    z-index: 1;
    position: fixed;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    transform: translateY(-10px);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.dropdown-container.open {
    opacity: 1;
    transform: translateY(0);
}

.user-details {
    padding: 5px 5px 20px 5px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    border-bottom: 1px solid #00000022;

    img {
        width: 40px;
        height: 40px;
    }

    .user-text-section {
        display: flex;
        flex-direction: column;

        .user-name {
            font-size: 18px;
            font-weight: 500;
        }

        .online-status {
            font-size: 12px;
        }
    }

}

.dropdown-items {
    margin: 10px 0px;
    display: flex;
    flex-direction: column;
    width: 100%;
}