.side-bar {
  position: fixed;
  display: block;
  background-color: rgb(247, 247, 247);
  z-index: 1;
  padding: 20px;
  width: 180px;
  height: 100vh;
  transition: transform 0.3s ease;
  overflow-y: auto;
  left: 0;

  &.open {
    transform: translateX(0);
  }

  &.close {
    transform: translateX(-100%);
  }

  .menu-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    margin-bottom: 25px;
  }

  img {
    width: 30px;
    height: 30px;
    border-radius: 10px;
    cursor: pointer;
  }
}

.nav-menu {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  flex: 1;
}

a.selected {
  background-color: #dbdbdb;
}

a {
  margin-bottom: 5px;
  background-color: white;
  color: black;
  padding: 10px;
  border-radius: 5px;
  font-weight: 500;
  cursor: pointer;
  text-decoration: none;
}

a:hover {
  background-color: #dbdbdb;
}