.profile-container {
  display: flex;
  flex-direction: column;
  margin: 0px 100px 0px 100px;
}

.profile-wrapper {
  display: flex;
  flex-direction: row;
  padding: 30px;
  justify-content: center;
  background-color: aliceblue;
  border-radius: 10px;

  img {
    width: 200px;
    height: 100px;
  }
}

.profile-user-details {
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: 0px 0px 0px 5px;

  .followers {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }
}

.profile-user-name {
  font-size: 20px;
  text-transform: capitalize;
}

.post-wrapper {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: rgb(255, 255, 255);

  .post-item {
    padding: 10px;
    width: -webkit-fill-available;
  }

  .post-item img {
    cursor: pointer;
    height: 200px;
    border-radius: 10px;
    width: -webkit-fill-available;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }

  .post-title {
    font-size: 14px;
    font-weight: 500;
    padding: 0px 5px;
  }
}

.post-item img:hover {
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4);
}

@media (max-width: 767px) {
  .profile-container {
    margin: 0;
  }

  .post-wrapper {
    display: block;
  }

  .post-item {
    flex: 0 1 calc(50% - 20px);
  }
}

@media (min-width: 769px) {
  .profile-container {
    margin: 0;
  }

  .post-wrapper {
    justify-content: start;
  }

  .post-item {
    flex: 0 1 calc(50% - 20px);
  }
}

@media (min-width: 1024px) {
  /* .profile-container {
        margin: 0;
    } */

  .post-wrapper {
    justify-content: start;
  }

  .post-item {
    flex: 0 1 calc(25% - 20px);
  }
}
