.post-section {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  overflow-y: auto;

  position: relative;
  display: block;
  padding: 50px 25px;
  background: #eef1f3;
  height: 100vh;
  min-height: 100%;
}

@media (max-width: 768px) {
  .mobile-header {
    display: flex;
  }
}
