.page-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
}

.main-content {
  margin-top: 60px;
  padding: 20px;
  flex-grow: 1;
  overflow: auto;
  box-sizing: border-box;
}

@media (max-width: 768px) {
  .main-content {
    margin-left: 0;
    margin-top: 60px;
  }
}